<div class="registrationContainer" fxLayout="row">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center" class="bgColor">
        <div class="title">MIND <br> BOWSER</div>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start" class="posRelative p-2">
        <div fxLayout="row" fxLayoutGap="1em" class="headerContainer"> 
            <div class="pointer"  routerLink="/login">Login</div>
            <div class="pointer" routerLink="/register">Register</div>
        </div>

        <div class="registerText">
            Registration
        </div>
        
        <form  [formGroup]="registerPageForm" (ngSubmit)="onSubmit(registerPageForm)">
            <div fxLayout="column" fxLayoutGap="0em">
                <div fxLayout="row" fxFlex="50" fxLayoutGap="1em" >
                    <mat-form-field  appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="firstName">  
                        <mat-error>Firstname is Required</mat-error>                       
                      </mat-form-field>
                      <mat-form-field  appearance="outline">
                        <mat-label>LastName</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="lastName">  
                        
                        <mat-error>LastName is Required</mat-error>                       
                      </mat-form-field>
                </div>
    
                <div fxLayout="row" fxFlex="100" fxLayoutGap="1em" >
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="email" >    
                        <mat-error>Email is Required</mat-error>                    
                      </mat-form-field>
                     
                </div>

                <div fxLayout="row" fxFlex="100" fxLayoutGap="1em" >
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Placeholder" formControlName="password">   
                        <mat-error>Password is Required</mat-error>                       
                      </mat-form-field>
                     
                </div>
                
                
                <div fxLayout="row" fxFlex="50" fxLayoutGap="1em" >
                    <mat-form-field  appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="company">  
                        <mat-error>Companyname is Required</mat-error>                       
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Choose a Birthdate</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="birthDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>                     
                </div>

                <div fxLayout="row" fxFlex="100" fxLayoutGap="1em" >
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input type="text" matInput placeholder="Placeholder" formControlName="address">   
                        <mat-error>Address is Required</mat-error>                       
                      </mat-form-field>
                      <!-- formControlName="password" -->
                </div>

                <div fxLayout="row" fxFlex="100" fxLayoutGap="1em" >
                    <button mat-stroked-button color="primary" type="submit" [disabled]="!registerPageForm.valid">Submit</button>
                </div>
            </div>

           
        </form>
    </div>
</div>






<!-- <div class="registerContainer" fxLayout="column" fxLayoutAlign="center center"> -->
    <!-- <mat-card>
        <div fxLayout="column" fxLayoutGap="1.5em">
            <div class="heading">Signup Form</div>
            <form [formGroup]="registerPageForm" (ngSubmit)="onSubmit(registerPageForm)">
                <div fxLayout="column" fxLayoutGap="1em">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                     
                        <div fxFlex="100" >
                            <mat-form-field  appearance="outline">
                                <mat-label>FirstName</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="firstName">  
                                <mat-error>Firstname is Required</mat-error>                       
                              </mat-form-field>
                        </div>                  
                            
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                        
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>LastName</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="lastName"> 
                                <mat-error>Lastname is Required</mat-error>                        
                              </mat-form-field>
                        </div>                   
                            
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                       
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="email">    
                                <mat-error>Email is Required</mat-error>                    
                              </mat-form-field>
                        </div>                   
                            
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                        
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Placeholder" formControlName="password">   
                                <mat-error>Password is Required</mat-error>                       
                              </mat-form-field>
                        </div>                   
                            
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                        
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password"  matInput placeholder="Placeholder" formControlName="confirmPassword">  
                                <mat-error>Password is Required</mat-error>                       
                              </mat-form-field>
                        </div>                   
                            
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="mt-2">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!registerPageForm.valid">Submit</button>
                </div>
                
            </form>
            
            
        </div>
    </mat-card> -->
<!-- </div> -->