.dashboardContainer{
    width: 100%;
    height: 100%;
    padding: 2em;

    .heading{
        font-size: 1.8em;
        font-weight: 500;
        line-height: normal;
    }

    .mat-elevation-z8{
        width: 100%;
        margin-bottom: 5em; 
    }

    .table {
        border:1px solid #dadada;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        td, th{
            border: 1px solid #dadada;
            padding: 1em;
            font-weight: 400;
        }
    }

    .pointer{
        cursor: pointer;
    }

    
}