.empContainer{
    height: calc(100% - 4.5em);
    background: #f5f5f5;
    padding: 1.5em;

    .title{
        font-size: 1.3em;
        line-height: normal;
    }

    table{
        th, td{
            font-size: 1em;
        }
    }

    .mat-elevation-z8{
        width: 100%;
    }

    .deleteIcon{
        color: brown;
    }
    .editIcon{
        color: rgb(22, 126, 12);
    }

    .pointer{
        cursor: pointer;
    }
}