<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
  
    <div *ngIf="!isLogInMode" fxLayout="row" fxLayoutGap=".5em">
      <button routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span>Login</span>
      </button>
      <button routerLink="/register" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <span >Register</span>
      </button>
    </div>
    <div  *ngIf="isLogInMode" fxLayout="row" fxLayoutGap=".5em">
        
        <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <span >Logout</span>
        </button>
      </div>
   
  </mat-toolbar>