.loginContainer{
    width: 100%;
    height: 100%;
    background: transparent;
    .bgColor{
        background: linear-gradient(45deg, #023b84, #012252);
    }

    .title{
        font-size: 3em;
        font-weight: bold;
        color: #fff;
        line-height: normal;
        letter-spacing: 0.06em;
    }

    .posRelative{
        position: relative;
    }

    .headerContainer{
        position: absolute;
        top: 1em;
        right: 2em;
    }

    .pointer{
        cursor: pointer;
        outline: none;
    }
    
}