.loginContainer{
    width: 100%;
    height: 100%;
    background: transparent;
    .bgColor{
        background: linear-gradient(45deg, #023b84, #012252);
    }

    .title{
        font-size: 4em;
        font-weight: bold;
        color: #fff;
        line-height: normal;
        letter-spacing: 0.06em;
    }

    .posRelative{
        position: relative;
    }

    .headerContainer{
        position: absolute;
        top: 1em;
        right: 2em;
    }

    .pointer{
        cursor: pointer;
        outline: none;
    }

    .p-2{
        padding: 2em;
    }

    .logText{
        font-size: 1.5em;
        font-weight: 500; 
        line-height: normal;  
        padding-bottom: 1.5em;
    }

    .mat-button-base{
        width: 100%;
        font-size: 1.2em;
        padding: .5em;
        border: 1px solid #023980;
    }
    
    .mat-stroked-button.mat-button-disabled.mat-button-disabled {
        color: rgba(0,0,0,.26);
        border: 1px solid rgba(0,0,0,.26) !important;
    }    
    
}