<div class="registerContainer" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <div fxLayout="column" fxLayoutGap="1.5em">
            <div class="heading">Create Data</div>
            <form  [formGroup]="formDetails" (ngSubmit)="onSubmit(formDetails)">
                <div fxLayout="column" fxLayoutGap="1em">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                     
                        <div fxFlex="100" >
                            <mat-form-field  appearance="outline">
                                <mat-label>Employee Name</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="name">   
                                <mat-error>Name is Required</mat-error>                     
                              </mat-form-field>
                        </div>                  
                            
                    </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                        
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Employee ID</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="id">   
                                <mat-error>ID is Required</mat-error>                     
                     
                              </mat-form-field>
                        </div>                   
                            
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                       
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Salary</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="salary">   
                                <mat-error>Salary is Required</mat-error>                     
                     
                              </mat-form-field>
                        </div>                   
                            
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                        
                        <div fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Age</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="age"> 
                                <mat-error>Age is Required</mat-error>                     
                       
                              </mat-form-field>
                        </div>                   
                            
                    </div>
                    
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="mt-2">
                    <button mat-raised-button color="primary" [disabled]="!formDetails.valid">{{ this.data ? 'Update' : 'Create'}}</button>
                </div>
                
            </form>
            
           
        </div>
    </mat-card>
</div>